# Build outputs
bin/
obj/
out/

# Rider / JetBrains
.idea/
*.sln.iml

# VSCode
.vscode/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Resharper
_ReSharper.Caches/

# OS junk
.DS_Store
Thumbs.db
